<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newslytic </title>
</head>
<body>
    <div id="filter">
        <form action="{{ url_for('main.news') }}", method="POST">
            <label>Categories:</label>
            {% for category in categories %}
            <input type="checkbox", name="{{ category }}", id="checkbox_{{ category }}">
            <label for="checkbox_{{ category }}">{{ category }}</label>
            {% endfor %}
            
            <select name="sources" multiple>
                {% for source in sources %}
                <option value="{{ source }}">{{ source }}</option>
                {% endfor %}
            </select>
            
            <select name="language">
                {% for language in languages %}
                <option value="{{ language }}">{{ language }}</option>
                {% endfor %}
            </select>
            <input type="submit", name="filter", value="Filter">
        </form>
    </div>
    <div id="sort">
        <form action="{{ url_for('main.news') }}" method="GET">
            <label>Sort by:</label>
            <select name="sort_by" onchange="this.form.submit()">
                <option value="" {% if sort_by == "" %}selected{% endif %}>-</option>
                <option value="source" {% if sort_by == "source" %}selected{% endif %}>Source</option>
                <option value="category" {% if sort_by == "category" %}selected{% endif %}>Category</option>
                <option value="publish_date" {% if sort_by == "publish_date" %}selected{% endif %}>Publish Date</option>
            </select>
        </form>
    </div>  
    {% block articles %}
    {% endblock %}
    <div>
        Copyright &copy; 2024
    </div>
    
</body>
</html>