<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newslytic </title>
</head>
<body>
    <div>
        <form action="{{ url_for('main.api') }}", method="POST">
            <label>Categories:</label>
            {% for category in categories %}
            <input type="checkbox", name="{{ category }}", id="checkbox_{{ category }}">
            <label for="checkbox_{{ category }}">{{ category }}</label>
            {% endfor %}
            
            <select name="sources" multiple>
                {% for source in sources %}
                <option value="{{ source }}">{{ source }}</option>
                {% endfor %}
            </select>
            
            <select name="language">
                {% for language in languages %}
                <option value="{{ language }}">{{ language }}</option>
                {% endfor %}
            
            <input type="submit", value="Filter">
        </form>
    </div>
    {% block articles %}
    {% endblock %}
    
</body>
</html>